@layer theme, base, components, utilities;

@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight" layer(base);


:root {
    --black: #000000;
    --white: #ffffff;
  
    /* Branco */
    --white-default: #FAFAFA;
  
    /* Cinza */
    --gray-default: #EDEEF2;
    --gray-dark: #DEDFE3;
    --gray-dark-hovered: color-mix(in srgb, var(--gray-dark) 100%, black 8%);
    --gray-m-dark: #5A5A5A;
    --gray-light: #F6F7F9;
  
    /* / Rosa / */
    --pink-default: #a6036d;
    --pink-hovered: color-mix(in srgb, var(--pink-default) 100%, white 55%);
    --pink-dark: #4f0030;
    --pink-light: #ffdfff;
  
    --pink-secondary: #eda2c0;
    --pink-secondary-dark: #5e263f;
    --pink-secondary-light: #fae1f6;
  
    /* / Texto / */
    --text-default: #1e1b18;
    --text-secondary: #787674;
    --text-desactive: #A5A4A3;
  
    /* / Erro / */
    --error-default: #DC3C18;
    --error-dark: #560000;
    --error-light: #F6F0EA;
  
    /* / Ok / */
    --ok-default: #769B06;
    --ok-dark: #416300;
    --ok-light: #F3F9F1;
  
    /* / Info / */
    --info-default: #0388BC;
    --info-dark: #00416E;
    --info-light: #F1F9F9;
  }

  input:is(:-webkit-autofill, :autofill) {
    box-shadow: 0 0 0px 100px white inset !important;
  }

html, body {
  color: var(--text-default);
}

  @layer utilities {
    .scrollbar-minimal {
      scrollbar-width: thin;
      scrollbar-color: #aaa transparent;
    }
  
    .scrollbar-minimal::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    .scrollbar-minimal::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .scrollbar-minimal::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 9999px;
      border: none;
    }
  
    .scrollbar-minimal::-webkit-scrollbar-button {
      display: none;
      height: 0;
      width: 0;
    }
  }
  


